body {background: #ffffff; margin: 0; padding: 0;} 
a {color: #2b2bf6;}           
#container {width: 900px; margin: 0; padding: 0; background: #ffffff;}           
#header {width: 900px; 	height: 150px; 	margin: 0; padding: 0; border: 0; background: #ffffff;}           
#sidebar {width: 200px; height: 400px; 	margin: 0; padding: 0; border: 0; float: left; background: #ffffff;}           
#content {width: 700px; height: 400px; 	margin: 0; padding: 0; border: 0; float: left; background: #ffffff;}
#content p {font-family: Courier New; font-size: 14px;}
#content a {font-family: Courier New; font-size: 14px;}           
#footer {width: 900px; 	height: 70px; 	margin: 0; padding: 0; border: 0; float: left; background: #ffffff; clear:both;}                            
